<ul class="nav navbar-nav" id="menu_czech">
  <li><a href="index.html">Hlavní stránka</a></li>
  <li><a href="sluzby.html">Služby</a></li>
  <li><a href="about.html">O nás</a></li>
  <li class="dropdown">
    <a href="zastoupeni1.html" class="dropdown-toggle" data-toggle="dropdown">Prodej<span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="zastoupeni.html">Delta Ohm</a></li>
      <li><a href="pcf.html">PCF Elettronica</a></li>
      </ul>
  <li><a href="kontakt.html">Kontakt</a></li>
  <li><a href="kariera.html">Kariéra</a></li>
  </li>
</ul>